.header {
  background-color: #000; }
  .header__inner {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header__box-title {
    color: #FFFF00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kaushan Script', cursive; }
  .header__title {
    flex-basis: 10%;
    font-size: 4.8rem;
    padding: 0;
    margin: 2.8rem 0 -2.5rem 10rem; }
  .header__subtitle {
    font-size: 2.4rem;
    margin: 0 0 3.8rem 12rem;
    padding: 0; }
  .header .nav {
    flex: 1;
    font-size: 1.4rem; }
    .header .nav__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 70rem; }
      .header .nav__items li {
        text-decoration: none;
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold; }
      .header .nav__items li:hover {
        color: #FFFF00;
        transition: all .3s;
        cursor: pointer; }
  .header .hamburger-menu {
    flex-basis: 10%;
    display: flex;
    justify-content: center; }
    .header .hamburger-menu__inner {
      width: 5rem;
      height: 3.8rem;
      border: 0.2rem solid #fff;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .header .hamburger-menu__inner:hover {
        transform: scale(1.05, 1.1);
        border: 0.2rem solid #FFFF00;
        transition: all .2s;
        cursor: pointer;
        border-radius: 0.3rem;
        background-color: #333; }
    .header .hamburger-menu__items {
      margin: 0;
      padding: 0;
      width: 3rem;
      height: .2rem;
      background-color: #fff; }

.promo {
  background-color: #FFFF00;
  height: 80rem;
  font-family: "Montserrat", sans-serif; }
  .promo__inner {
    background: url("../../img/Map.png") no-repeat;
    background-size: cover;
    height: 87rem; }
  .promo .content__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between; }
  .promo .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .promo .content__img {
      width: 46.8rem;
      height: 45.8rem;
      padding-top: 15rem;
      padding-left: 25rem; }
    .promo .content__title {
      width: 624px;
      height: 285px;
      font-size: 128.5px;
      font-weight: 900;
      line-height: 0.74;
      letter-spacing: -7.71px;
      text-align: center;
      color: #080808;
      text-transform: uppercase;
      margin-top: 17rem;
      margin-right: 27rem; }
    .promo .content__subtitle {
      width: 548px;
      height: 37px;
      font-family: Montserrat;
      font-size: 19px;
      font-weight: normal;
      text-align: center;
      color: #080808;
      margin-right: 27rem; }
    .promo .content__btn {
      width: 196px;
      height: 42px;
      border-radius: 5px;
      background-color: #000000;
      margin-right: 27rem;
      transform: skewX(30deg); }
      .promo .content__btn-inner {
        color: #fff;
        background-color: #000;
        border: none;
        margin: 0.7rem 4.5rem;
        padding: 0;
        font-family: Montserrat;
        font-size: 18.5px;
        font-weight: 900;
        letter-spacing: -1.11px;
        text-align: center;
        transform: skewX(-30deg); }
    .promo .content__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 12.6rem;
      height: 6rem;
      margin-top: 25rem;
      margin-left: 50%;
      transform: translateX(-50%);
      padding-bottom: 5rem; }
      .promo .content__nav .items {
        width: 1.26rem;
        height: 1.26rem;
        background-color: #000;
        border: 1px solid transparent;
        border-radius: 50%; }

.dream {
  background-color: #000; }
  .dream__inner {
    width: 120rem; }
  .dream__title {
    font-size: 5.5rem;
    color: #FFFF00;
    text-transform: uppercase;
    font-weight: bold; }
  .dream__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.7rem; }
  .dream__content-box .dream__title {
    font-size: 2.9rem;
    color: #fff; }
  .dream__content-box .dream__info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.7rem; }
  .dream__btn {
    width: 196px;
    height: 42px;
    border-radius: 5px;
    background-color: #FFFF00;
    margin-right: 27rem;
    transform: skewX(30deg); }
    .dream__btn button {
      color: #000;
      background-color: #FFFF00;
      border: none;
      margin: 0.7rem 4.5rem;
      padding: 0;
      font-family: Montserrat;
      font-size: 18.5px;
      font-weight: 900;
      letter-spacing: -1.11px;
      text-align: center;
      transform: skewX(-30deg); }

:root {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit; }

/*# sourceMappingURL=main.css.map */
