$color-black: #000;
$color-white: #fff;
$color-yellow: #FFFF00;



@import "sections/header";
@import "sections/promo";
@import "sections/dream";
@import "sections/work";



:root {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}