.dream {
  background-color: $color-black;

  &__inner {
    width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 5.5rem;
    color: $color-yellow;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15rem;
  }

  &__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.8rem;
    margin-top: 5rem;
    width: 98rem;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

    &> :nth-child(2) {
      &>img {
        margin-left: 5.6rem;
        margin-right: 5.6rem;
      }
    }

    &-box {
      text-align: center;

      .dream__content-title {
        font-size: 2.9rem;
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        margin-top: 4.2rem;
      }

      .dream__info {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.7rem;
        margin: 3.6rem auto 0 auto;
        width: 31rem;

      }
    }
  }

  &__btn {
    width: 196px;
    height: 42px;
    border-radius: 5px;
    background-color: $color-yellow;
    margin-right: 27rem;
    transform: skewX(30deg);
    margin: 8.4rem 0 10rem 0;
    cursor: pointer;

    &:active {
      transform: translateY(-2px);
      transition: .3s;
    }

    button {
      color: $color-black;
      background-color: $color-yellow;
      border: none;
      text-transform: uppercase;
      margin: 0.9rem 3rem;
      padding: 0 0 0 1rem;
      font-family: Montserrat;
      font-size: 18.5px;
      font-weight: 900;
      letter-spacing: -1.11px;
      text-align: center;
      transform: skewX(-30deg);
      cursor: pointer;

    }
  }
}