.promo {
    background-color: $color-yellow;
    height: 80rem;
    font-family: 'Montserrat', sans-serif;


    &__inner {
        background: url('../../img/Map.png');
    }

    .content {
        &__img {
            background: url('../../img/Like.png');
        }

        &__title {
            width: 624px;
            height: 285px;
            font-size: 128.5px;
            font-weight: 900;
            line-height: 0.74;
            letter-spacing: -7.71px;
            text-align: center;
            color: #080808;
            text-transform: uppercase;
        }

        &__subtitle {
            width: 548px;
            height: 37px;
            font-family: Montserrat;
            font-size: 19px;
            font-weight: normal;
            text-align: center;
            color: #080808;
        }

        &__btn {
            width: 196px;
            height: 42px;
            border-radius: 5px;
            background-color: #000000;

            &-inner {
                color: $color-white;
            }
        }

        &__nav {
            .items {
                width: 1.26rem;
                height: 1.26rem;
                background-color: $color-black;
                border: 1px solid transparent;
                border-radius: 50%;
            }
        }
    }
}