.promo {
  background-color: $color-yellow;
  height: 80rem;
  font-family: "Montserrat", sans-serif;

  &__inner {
    background: url("../../img/Map.png") no-repeat;
    background-size: cover;
    height: 87rem;
  }

  .content__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__img {
      width: 46.8rem;
      height: 45.8rem;
      padding-top: 15rem;
      padding-left: 25rem;
    }

    &__title {
      width: 624px;
      height: 285px;
      font-size: 128.5px;
      font-weight: 900;
      line-height: 0.74;
      letter-spacing: -7.71px;
      text-align: center;
      color: #080808;
      text-transform: uppercase;
      margin-top: 17rem;
      margin-right: 27rem;
    }

    &__subtitle {
      width: 548px;
      height: 37px;
      font-family: Montserrat;
      font-size: 19px;
      font-weight: normal;
      text-align: center;
      color: #080808;
      margin-right: 27rem;
    }

    &__btn {
      width: 196px;
      height: 42px;
      border-radius: 5px;
      background-color: #000000;
      margin-right: 27rem;
      transform: skewX(30deg);

      &-inner {
        color: $color-white;
        background-color: $color-black;
        border: none;
        margin: 0.7rem 4.5rem;
        padding: 0;
        font-family: Montserrat;
        font-size: 18.5px;
        font-weight: 900;
        letter-spacing: -1.11px;
        text-align: center;
        transform: skewX(-30deg);
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 12.6rem;
      height: 6rem;
      margin-top: 25rem;
      margin-left: 50%;
      transform: translateX(-50%);
      padding-bottom: 5rem;

      .items {
        width: 1.26rem;
        height: 1.26rem;
        background-color: $color-black;
        border: 1px solid transparent;
        border-radius: 50%;
      }
    }
  }
}