.users {
    background-color: #252525;
    color: $color-white;

    &__inner {
        width: 120rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 85rem;
        justify-content: space-around;
        align-items: center;

        .title {
            font-size: 5.5rem;
            font-weight: bold;
            line-height: 0.74;
            letter-spacing: -3.3px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 7rem;
        }

        .subtitle {
            font-size: 1.7rem;
            font-weight: bold;
            text-align: center;
            margin-top: -1rem;
            width: 97rem;

        }

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__element {
                width: 32rem;
                min-height: 35rem;
                background-color: $color-black;
                margin: 3rem;
                position: relative;

                &>* {
                    padding-left: 3rem;
                    margin-top: 2rem;
                }

                .info__quote {
                    position: absolute;
                    right: 1rem;
                    top: 0;
                    margin: 0;
                    padding: 0;
                    font-size: 10rem;
                    color: $color-yellow;
                }
            }

            &__title {
                font-size: 2.6rem;

            }

            &__subtitle {
                font-size: 1.7rem;
                margin-top: .5rem;
            }

            &__text {
                width: 294px;
                opacity: 0.5;
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: left;
                color: rgba(255, 255, 255, 0.5);
            }

            &__stars {
                margin-bottom: 2rem;
            }
        }


    }

    &__button {
        width: 196px;
        height: 42px;
        border-radius: 5px;
        background-color: $color-yellow;
        margin-right: 27rem;
        transform: skewX(30deg);
        margin: 0 auto;

        .btn {
            color: $color-black;
            background-color: $color-yellow;
            border: none;
            margin: 1rem 4.5rem;
            padding: 0;
            font-family: Montserrat;
            font-size: 1.6rem;
            font-weight: 900;
            letter-spacing: -1.11px;
            text-align: center;
            transform: skewX(-30deg);
            text-transform: uppercase;
        }
    }
}