.work {
    background-color: $color-yellow;

    &__inner {
        width: 100%;
        min-height: 120rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 58rem;
        height: 6rem;
        font-size: 5.5rem;
        font-weight: bold;
        letter-spacing: -3.3px;
        text-align: center;
        color: $color-black;
    }

    &__subtitle {
        width: 97.8rem;
        height: 5.7rem;
        font-size: 1.8rem;
        text-align: center;
        color: $color-black;
        margin-bottom: 5rem;
    }

    &__img {
        width: 140rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    &__bottom {
        min-height: 37rem;
        background-image: url(../../img/work10.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        

        &-inner {
            width: 196px;
            height: 42px;
            border-radius: 5px;
            background-color: #000000;
            transform: skewX(30deg);

            button {
                color: $color-white;
                background-color: $color-black;
                text-transform: uppercase;
                border: none;
                margin: 0.9rem 3rem;
                padding: 0 0 0 1rem;
                font-family: Montserrat;
                font-size: 18.5px;
                font-weight: 900;
                letter-spacing: -1.11px;
                text-align: center;
                transform: skewX(-30deg);
            }
        }
    }


}